{% extends "base.html" %}
{% block content %}


<h2> {{page_title}} </h2>
<p> Mais, je ne suis pas pressé, Madame, répondis-je ; d’ailleurs j’attends M. de Charlus avec qui je dois m’en
    aller.Mme de Villeparisis entendit ces derniers mots. Elle en parut contrariée. S’il ne s’était agi d’une chose qui
    ne pouvait intéresser un sentiment de cette nature, il m’eût paru que ce qui me semblait en alarme à ce moment-là
    chez Mme de Villeparisis, c’était la pudeur. Mais cette hypothèse ne se présenta même pas à mon esprit. J’étais
    content de Mme de Guermantes, de Saint–Loup, de Mme de Marsantes, de M. de Charlus, de Mme de Villeparisis, je ne
    réfléchissais pas, et je parlais gaiement à tort et à travers.—Vous devez partir avec mon neveu Palamède ? me
    dit-elle.Pensant que cela pouvait produire une impression très favorable sur Mme de Villeparisis que je fusse lié
    avec un neveu qu’elle prisait si fort : « Il m’a demandé de revenir avec lui, répondis-je avec joie. J’en suis
    enchanté. Du reste nous sommes plus amis que vous ne croyez, Madame, et je suis décidé à tout pour que nous le
    soyons davantage. »De contrariée, Mme de Villeparisis sembla devenue soucieuse : « Ne l’attendez pas, me dit-elle
    d’un air préoccupé, il cause avec M. de Faffenheim. Il ne pense déjà plus à ce qu’il vous a dit. Tenez, partez,
    profitez vite pendant qu’il a le dos tourné.
</p>

{% for member in company %}
<div class="row featurette">

    {% if loop.index % 2 != 0 %}

    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
    </div>

    {% else %}

    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>

    {% endif %}

</div>

{% if loop.index != loop.length %}

<hr class="featurette-divider">

{% endif %}

{% endfor %}


{% endblock %}