{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    La Fugitive
                </h2>
                <h3 class="post-subtitle">
                    Vous voyez , ce n'est pas ce caprice d'enfant que je me reproche le plus
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on September 24, 2023</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Ram Dass
                </h2>
                <h3 class="post-subtitle">
                    LAY NOT UP YOUR TREASURES WHERE MOTH AND RUST DOTH CORRUPT
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on September 18, 2023</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    La Fugitive
                </h2>
                <h3 class="post-subtitle">
                    nous croyons aimer une jeune fille , et nous n’aimons hélas ! en elle que cette aurore de son visage
                    reflète momentanément la rougeur
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on August 24, 2023</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Énéide
                </h2>
                <h3 class="post-subtitle">
                    Grief and the pangs of Conscience make their beds, and fatal pale Disease lives there , and bleak
                    Old
                    Age, Dread and Hunger, seductress to crime, and grinding Poverty, all, terrible shapes to see - and
                    Death and deadly Struggle and Sleep, twin brother of Death
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on July 8, 2020</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}